.first-line {
  font-family: 'Baloo Bhaijaan', cursive;
}

.second-line {
  font-family: 'Bungee Outline', cursive;
}

.third-line {
  font-family: 'Baloo Bhaijaan', cursive;
}

.fourth-line {
  font-family: 'Bungee Outline', cursive;
}
